body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
}

header {
	max-width: 80%;
	margin: 0 auto;
}

.menu-toggle {
	float: right;
	cursor: pointer;
	margin-bottom: 20px;
}

.fa-bars {
	font-size: 1.5em;
}

nav ul {
	margin: 3rem auto 2rem;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}

.nav-item {
	padding: 15px 0;
}

.nav-logo {
	order: 1;
}

.nav-item {
	order: 2;
	display: none;
}

.nav-item-open {
	display: initial;
}

.nav-item a {
	color: #404040;
	text-decoration: none;
	position: relative;
}

.nav-item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.nav-item a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-item a:hover {
	color: #000;
}

#logo {
	max-width: 200px;
}

.hero {
	margin: 0 auto;
}

#hero-img {
	width: 100%;
}

.hero-box {
	max-width: 350px;
	width: 40%;
	background: #81CAD8;
	padding: 1rem;
	transform: translate(25%, -50%);
}

.hero-title h1 {
	font-size: 2.8rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	color: #DFF7FB;
}

.hero-tag {
	text-align: right;
}

.hero-tag span {
	display: block;
	margin: 1rem;
}

.hero-tag a {
	color: #0D6070;
	text-decoration: none;
}

.hero-tag a:hover {
	color: #024B59;
	text-decoration: underline;
}

main {
	margin: 0 auto 5%;
	max-width: 75%;
}

.container {
	margin: 0 auto;
}

main .fas {
	font-size: 2.5em;
	margin-bottom: 5%;
}

.fa-icon {
	text-align: center;
}

.container h2 {
	margin-top: 5%;
	text-align: center;
}

.jumbotron {
	margin-top: 5%;
}

.jumbotron h1 {
	margin-bottom: 2%;
}

.demo-button {
	text-align: right;
	margin: 3% 3% 0 0;
}

#demo-button {
	padding: 15px 10px;
	border: 2px solid #000;
	border-radius: 10px;
	background: #B0E5EE;
	color: #0D6070;
}

#demo-button:hover {
	text-decoration: none;
	background: #81CAD8;
	color: #024B59;
}

#demo-button:active {
	background: #57ABBB;
	color: #013842;
}

footer {
	width: 100%;
	height: 80px;
	background: #f8f8f8;
	line-height: 80px;
	font-size: .9rem;
	padding: 0 2%;
}

@media screen and (max-width: 768px) {
	.hero-box {
		max-width: 300px;
		width: 80%;
		padding: 1rem;
		transform: translate(10%, -20%);
	}

	.hero-title h1 {
		font-size: 2rem;
		margin-bottom: .5rem;
	}

	.hero-tag {
		font-size: .9em;
	}
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}

	nav ul {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: flex-end;
	}

	.nav-item {
		display: initial;
	}

	.nav-logo,
	.nav-item {
		order: initial;
	}
}
